<section data-ng-controller="HomeController">
	<div class="jumbotron main-cover text-center">
		<div class="overlay">
			<div class="row">
					<h1>真問眼る</h1>
					<p>You might not be smart, but your computer is.</p>
			</div>
			<div class="row facebook">
				<div class="col-md-offset-4 col-md-4 text-center">
						<a href="/auth/facebook" class="btn-lg btn-block btn-social btn-facebook">
  <i class="fa fa-facebook"></i>
  Sign in with Facebook
</a>
				</div>
			</div>
		</div>
	</div>
	<section class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>
					For students...
				</h2>
				<p> You just arrived in a new country, to work or study ?<br> You don't know anyone, maybe you don't know the language and it is difficult for you to understand your new environment. We can help you ! Meet here an awesome buddy to guide you, to make you discover this new culture and help you with your problems.</p>
			</div>
			<div class="col-md-6">
				<h2>
					And more.
				</h2>
				<p>You are an open-minded person and you want to make new friends from all around the world ? You love your city and want to share it ? We can help you ! Meet here hundreds of expats who want to discover the area, your culture, and make new friends</p>
			</div>
		</div>
	<div class="footer">
	<br>Enjoy &amp; Keep Us Updated,
	</div>
	</section>
</section>