<section data-ng-controller="HomeController">
	<div class="jumbotron main-cover text-center">
		<div class="overlay">
			<div class="row">
					<h1>真問眼る</h1>
					<p>You might not be smart, but your computer is.</p>
			</div>
			<div class="row facebook">
				<div class="col-md-offset-4 col-md-4 text-center">
						<a href="/auth/facebook" class="btn-lg btn-block btn-social btn-facebook">
  <i class="fa fa-facebook"></i>
  Sign in with Facebook
</a>
				</div>
			</div>
		</div>
	</div>
	<section class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>
					For students...
				</h2>
				<p> Just drop your course notes in our web app, and immediately get nice graphs which sum up the main concepts, the relation between them in the document, and even more ! Spend less time studying and more time having fun !</p>
			</div>
			<div class="col-md-6">
				<h2>
					And more.
				</h2>
				<p>真問眼る is not only made for students, any book or website can be analyzed by our system. Get the gist of your documents at first sight without having to spend hours reading them.</p>
			</div>
		</div>
	<div class="footer">
	<br>Enjoy &amp; Keep Us Updated,
	</div>
	</section>
</section>